body {
    background-image: url(./images/fondo1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.ingreso {
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    margin-left: 28%;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario {
    width: 100px;
    height: 60px;
    background: transparent;
    font-size: 1rem;
    padding: 0 35 5px;
    color: #fff;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

